%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:product_items, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:product_items, :new)

.tabs-content
  -form_for :product_item, url(:product_items, :create), :class => 'form-horizontal' do |f|
    =partial 'product_items/form', :locals => { :f => f }
