- error = @supplier.errors.include?(:name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :name, :class => 'control-label'
  .controls
    =f.text_field :name, :class => 'input-xlarge input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : pat(:example)
- error = @supplier.errors.include?(:contactor)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :contactor, :class => 'control-label'
  .controls
    =f.text_field :contactor, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:contactor, :class => 'text-error') : pat(:example)
- error = @supplier.errors.include?(:phone)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :phone, :class => 'control-label'
  .controls
    =f.text_field :phone, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:phone, :class => 'text-error') : pat(:example)
- error = @supplier.errors.include?(:supplier_type)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :supplier_type, :class => 'control-label'
  .controls
    =f.text_field :supplier_type, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:supplier_type, :class => 'text-error') : pat(:example)
- error = @supplier.errors.include?(:record)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :record, :class => 'control-label'
  .controls
    =f.text_field :record, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:record, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:suppliers, :index), :class => 'btn'
