%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:suppliers, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:suppliers, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:suppliers, :edit, :id => @supplier.id)

.tabs-content
  -form_for :supplier, url(:suppliers, :update, :id => @supplier.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'suppliers/form', :locals => { :f => f }
