%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:suppliers, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:suppliers, :new)

.tabs-content
  -form_for :supplier, url(:suppliers, :create), :class => 'form-horizontal' do |f|
    =partial 'suppliers/form', :locals => { :f => f }
