%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:workers, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:workers, :new)

.tabs-content
  -form_for :worker, url(:workers, :create), :class => 'form-horizontal' do |f|
    =partial 'workers/form', :locals => { :f => f }
