%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:units, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:units, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:units, :edit, :id => @unit.id)

.tabs-content
  -form_for :unit, url(:units, :update, :id => @unit.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'units/form', :locals => { :f => f }
