%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:units, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:units, :new)

.tabs-content
  -form_for :unit, url(:units, :create), :class => 'form-horizontal' do |f|
    =partial 'units/form', :locals => { :f => f }
